.navbar{
  width: 100%;
  background: #fff;  
  padding: 1rem 1rem;
  position:fixed;
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20; 
  backdrop-filter: blur (24px);
  -webkit-backdrop-filter: blur(24px);
}

.nav-link{
  color: #374151;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
  transition: all 0.15s ease;
}

 .logo-icon{
  width: 200px;
  /* display: block; */
 }

 logo{
  display: block;
 }

 .hamburger{
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
 }

 .hamburger span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #303d38;
  cursor: pointer;
 }

.menu-icon{
  display: block;
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/* --- Close button------ */

.close-btn{
  background: none;
  border: none;
  cursor: pointer;

  /* ---- Hidden on desktop--- */
  align-items: flex-end;
  margin-bottom: 1rem;
  display: none;
 
}

.close-icon{
  width: 30px;
  height: 30px;
  display: block;
  object-fit: contain;
  cursor: pointer;
} 

.overlay{
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 25;
}


.desktop-signup{
  display: flex;
  align-items: center;
}

.nav-signup{
  display: none;
  margin-top: 1.5rem;


}


@media (min-width: 640px) {
  .navbar {
    padding: 1rem 3rem;
  }

    a:hover{
      border-bottom: 1px solid #000;
    }

    .nav-link{
      font-size: 12px;
      align-items: center;
    }

    /* .close-icon{
      display: none;
    } */
}

@media (max-width: 639px) {
  .hamburger{
    display: flex;
    z-index: 30;
  }
  .desktop-signup{
    display: none;
  }
}

/* Sidebar Closed -below small screen */
@media (max-width: 639px) {
  .nav-link.sidebar-closed{
    width: 0;
    overflow: hidden;
  }
}

/* Sidebar OPEN - below smaller screen */
@media (max-width: 639px) {
  .nav-link.sidebar-open{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 15rem;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    background-color: #303d38;
    color: #fff;
    border-bottom: 1px solid #000;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 30
  }
.nav-link.sidebar-open .close-btn{
  display: flex;
}

.nav-link.sidebar-open .nav-signup{
  display: block;
}

.nav-link.sidebar-open a,
.nav-link.sidebar-open .active{
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 0;
  display: block;
  width: 100%;
  text-decoration: none;
}

.nav-link.nav-link.sidebar-open a:hover{
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

  
}

@media (max-width: 639px) {
  .nav-link{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    
  }


}



@media(min-width: 1024px) {
  .navbar {padding: 1rem 6rem;}
}

@media(min-width: 1280px) {
  .navbar{ padding: 1rem 10rem;}
} 
