.details-cons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sub-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  border: 1px solid;
  padding: 0.7rem;
  border-radius: 1rem;
}

.d-name {
  font-size: 0.95rem;
}

.d-info {
  font-size: 1.2rem;
  font-weight: 600;
}

.ticket-details {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.1rem;
  font-weight: 600;
}

.ticket-detail-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 2.2rem;
  margin-bottom: 9rem;
}

.bank-details-btn-con {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bank-details-btn {
  padding-block: 0.8rem;
  padding-inline: 9rem;
  border: none;
  border-radius: 2.3rem;
  background-color: #ff9f2b;
  transition:
    transform 0.1s ease,
    background-color 0.2s ease,
    box-shadow 0.2s ease;
  font-size: 1.3rem;
  letter-spacing: 0.3px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.bank-details-btn:hover {
  background-color: #ffa02bce;
  /* transform: scale(1.05); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.bank-details-btn:active {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.center-state {
  height: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.check-img {
  height: 15rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  animation: popIn 0.6s ease-out forwards;
}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.pending {
  font-size: 2rem;
}

.failed-img {
  height: 13rem;
}

.payment-succes {
  font-size: 2rem;
  margin-bottom: 6rem;
}

.success-message {
  font-size: 1.2rem;
  font-weight: 500;
  width: 50%;
  letter-spacing: 0.7px;
  text-align: center;

  /* margin: 0 auto; */
}

.go-home-btn {
  padding-block: 0.8rem;
  padding-inline: 9rem;
  border: none;
  border-radius: 2.3rem;
  background-color: #ff9f2b;
  transition:
    transform 0.1s ease,
    background-color 0.2s ease,
    box-shadow 0.2s ease;
  font-size: 1.3rem;
  letter-spacing: 0.3px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;

  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.go-home-btn:hover {
  background-color: #ffa02bce;
  /* transform: scale(1.05); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.go-home-btn:active {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #4caf50;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto 10px;
  animation: spin 1s linear infinite;
}

.pending {
  animation: fadeInOut 1.5s ease-in-out infinite;
  font-weight: bold;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 850px) {
  .success-message {
    font-size: 1.2rem;
    font-weight: 500;
    width: 70%;
    letter-spacing: 0.7px;
    text-align: center;
  }

  .check-img {
    height: 10rem;
  }

  .payment-succes {
    font-size: 1.8rem;
  }

  .go-home-btn {
    padding-block: 0.8rem;
    padding-inline: 9rem;

    font-size: 1rem;
  }
}

@media (max-width: 669px) {
  .bank-details-btn {
    padding-inline: 3rem;
  }

  .pending {
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  .success-message {
    font-size: 1rem;
    width: 100%;
  }

  .go-home-btn {
    padding-block: 0.8rem;
    padding-inline: 7rem;

    font-size: 1rem;
    gap: 0rem;
    align-items: center;
  }

  .bank-details-btn {
    padding-inline: 2rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 550px) {
  .bank-details-btn {
    padding-inline: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .go-home-btn {
    padding-block: 0.8rem;
    padding-inline: 4rem;

    font-size: 0.99rem;
  }

  .go-home-icon {
    height: 1rem;
    margin-top: -3.5px;
  }

  .payment-succes {
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }
}

@media (max-width: 550px) {
  .go-home-btn {
    padding-block: 0.8rem;
    padding-inline: 2rem;

    font-size: 0.9rem;
  }

  .success-message {
    font-size: 0.89rem;
    width: 100%;
  }
}

@media (max-width: 373px) {
  .pending {
    font-size: 1.1rem;
  }
}

@media (max-width: 352px) {
  .payment-succes {
    font-size: 1.3rem;
  }

  .check-img {
    height: 7rem;
  }

  .success-message {
    font-size: 0.8rem;
    font-weight: 550;
  }

  .bank-details-btn {
    padding-inline: 0.8rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 327px) {
  .bank-details-btn {
    padding-inline: 0.6rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 321px) {
  .payment-succes {
    font-size: 1.2rem;
  }

  .go-home-btn {
    padding-block: 0.5rem;
    padding-inline: 1.5rem;

    font-size: 0.9rem;
  }
}
